body {font-family: 'Prompt', sans-serif;}
.grid-container {
    display: grid;
    grid-template-columns: 250px 300px 310px 216px 10px 300px;
    grid-gap: 10px;
    background-color: #10b981;
    height: 75px;
   
}
.grid-container > div {
    text-align: center;
    margin-top: 10px;
  }
  
#home{
    margin-left: 83px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding-top: 10px;
    height: 40px;
    border-bottom: white solid;

}
#detail {
    color: white;
    font-size: 24px;
    height: 40px;
    padding-top: 10px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #10b981;
    border: none;
    font-family: 'Prompt', sans-serif;
    
  }
#profile{
    background-color: #70d5b3;
    width: 216px;
    height: 55px;
    border: none;
    border-radius: 30px;
    align-items: center ;
    display: grid;
    grid-template-columns: 50px 100px;
    cursor: pointer;
    
  }
  #email{
    align-items: center ;
    color:#fff;
    
  }
  #out{
    background-color: #fff;
    width: 120px;
    height: 50px;
    border: none;
    color: #000;
    border-radius: 30px 30px;
    padding-top: 8px;
    margin-right: 0px;
    cursor: pointer;
    margin-top: 12px;
    font-size: 14px;
    font-family: 'Prompt', sans-serif;
  }
  .material-icons{
    color: white;

}
.con{
  display: grid;
  grid-template-columns:300px 300px;
  
}
.in{
    display: inline-block;
    background-color: #10B981;
    color: white;
    font-size: 24px;
    text-align: center;
    border-radius: 5px 5px;
    margin-top: 26px;
    padding-top: 11px;
    margin-left: 83px;
    margin-right: 10px;
}
.exit{
  background-color: #E5E5E5;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 60px;
    width: 200px;
    font-size: 24px;
    margin-top: 26px;
    margin-right: 894px;
    cursor: pointer;
    border-radius: 5px 5px;
}
hr{
  margin-top: 0px;
  border: 1px solid #10B981;
  text-align: center;
}
.rec{
  width: 1168px;
  height: 560px;
  border: #10b981 solid 1px;
  margin-left: 83px;
  margin-top: 22px;
  
  

}
h2{
  color: #FB0000;
  margin-left: 61px;
  font-size: 24px;
  margin-left: 61px;
}
div{
  font-size: 18px;
  color: black;
  margin-top: 20px;
  
}

.inputrec{
  border: #10b981 solid 1px;
  width: 834px;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  
}
select{
  font-size: 18px;
  font-family: 'Prompt', sans-serif;
  border: #10b981 solid 1px;
  width: 834px;
  height: 40px;
  border-radius: 5px;
}
.num{
  width: 111px;
  height: 40px;
}
form{
  text-align: right;
  margin-right: 61px;
}
.catnum{
  text-align: left;
  margin-left: 195px;
}
#save button{
  width: 200px;
  height: 50px;
  color: white;
  background-color: #10b981;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  font-family: 'Prompt', sans-serif;
  margin-left: 1055px;
  cursor: pointer;
}
.popup .recpop{
  width: 600px;
  height: 600px;

}
.row{
  display: grid;
  grid-template-columns: 100px 300px 300px;
  
}
.row1{

  display: grid;
  grid-template-columns: 160px 20px 300px ;
  margin-top: 20px;

}
.row2{
  margin-top: 66px;
  text-align: right;
  margin-right: 60px;
}
img{
    margin-top: 57px;
    margin-left: 68px;
}
 .texttest{
      color: #000;
      font-size: 24px;
      text-align: left;
      margin-left: 5px;
      margin-top: 51px;
  }
  .texttest1{
    color:#FB0000;
    font-size: 24px;
    text-align: right;
    margin-right: 167px;
    margin-top: 51px;
    
}
.texttest2{
    color: #000;
    font-size: 24px;
    text-align: right;
    padding: 11px;
    width:150px;
    border-radius: 5px;


}
.texttest3{
    color: #000;
    font-size: 24px;
    text-align: left;
    background-color: #CFF1E6;
    width: 260px;
    height: 50px;
    border-radius: 5px;
    padding-left: 30px;
    padding-top: 10px;
    
    
}

span{
    margin-left:0px;
}
.span2{
    margin-left:20px;
}
.hr2{
    margin-top: 26px;
    border: 1px solid #10B981;

}

.all{
    text-align: center;
    margin-left: 68px;

}
.group{
    margin-top: 66px;
}

  #cancel{
    padding: 10px 20px;
    border: 1px solid #10B981;
    color: #10B981;
    font-size: 24px;
    border-radius: 5px;
    width: 130px;
    height: 50px;
    text-align: center;
  }
  .btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    width: 130px;
    height: 50px;
    cursor: pointer;


  }
.submit {
    padding: 10px 20px;
    background-color: #FB0000;
    border: 1px solid #ddd;
    color: white;
    font-size: 24px;
    border-radius: 5px;
    width: 130px;
    height: 50px;
    cursor: pointer;
    text-align: center;}

.cancel {padding: 10px 20px;
    border: 1px solid #10B981;
    color: #10B981;
    font-size: 24px;
    border-radius: 5px;
    width: 130px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    background-color: white;
}

.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vw ;
    background: rgba(0, 0, 0, 7);
    z-index: 1;
    display: none;
}

.popup .recpop{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: rgb(255, 255, 255);
    border:1px solid #CCCCCC;
    width: 600px;
    height: 600px;
    z-index: 2;
    text-align: center;
    padding: 20px;
}


.popup.active .overlay{
    display: none;
}
.popup.active .recpop{
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}
.popup.close .overlay{
    display: none;
}
