body {font-family: 'Prompt', sans-serif;}
.grid-container {
    display: grid;
    grid-template-columns: 300px 300px 310px 216px 10px 300px;
    grid-gap: 10px;
    background-color: #10b981;
    height: 75px;
   
}
.grid-container > div {
    text-align: center;
    margin-top: 10px;
    
  }


#home{
    margin-left: 140px;
    font-size: 24px;
    font-family: 'Prompt', sans-serif;
    color: white;
    cursor: pointer;
    padding-top: 10px;
    height: 40px;
    margin-top: 10px;
    background-color: #10b981;
    border: none;

}
#detail{
    color: white;
    font-size: 24px;
    /* background-color: #6A41FA; */
    height: 40px;
    padding-top: 10px;
    cursor: pointer;
    border-bottom: white solid;
  }
#profile{
    background-color: #70d5b3;
    width: 216px;
    height: 55px;
    border: none;
    border-radius: 30px;
    align-items: center ;
    display: grid;
    grid-template-columns: 50px 100px;
    cursor: pointer;
    
  }
  #email{
    align-items: center ;
    color:#fff;
    
  }
  #out{
    background-color: #fff;
    width: 120px;
    height: 50px;
    border: none;
    color: #000;
    border-radius: 30px 30px;
    padding-top: 8px;
    margin-right: 0px;
    cursor: pointer;
    margin-top: 12px;
    font-size: 14px;
    font-family: 'Prompt', sans-serif;
    
  }
  .material-icons{
    color: white;

}



/* ข้อมูลทั้งหมด */

.head {
  border-radius: 10px;
  width: 200px;
  height: 50px;
  background-color: #10B981;
  box-sizing: border-box;
  position: absolute;
  margin-top: 25px;
  margin-left: 136px;
  color: white;
  text-align: center;
  padding: 8px;
  font-size: x-large;
}

.line {
  width: 1168px;
  display: block;
  margin-top: 4px;
  height: 2px;
  background-color: #10B981;
}


/* ส่วนsearch  */

.container {
  width: 1168px;
  height: 126px;
  box-sizing: border-box;
  position: absolute;
  background: #CFF1E6;
  margin-top: 115px;
  margin-left: 136px;
  display: grid;
  grid-column-gap: 3px;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}


/* table */

.grid-item {
  padding: 25px;
  font-size: 18px;
  text-align: left;
  margin-top: -30px;
  
}


/* ปุ่มค้นหา */

input[type=submit] {
  border-radius: 5px;
  width: 113px;
  height: 41px;
  background: #10B981;
  color: white;
  text-align: center;
  padding: 14px 20px;
  margin: 8px 0;
  font-size: 18px;
  box-sizing: border-box;
  position: absolute;
  padding: 7px;
  margin-top: 60px;
  margin-left: -50px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #12a574;
}


/* รายละเอียดประวัติข้างล่าง*/

.sub-container {
  width: 1168px;
  height: 55px;
  position: absolute;
  margin-top: 250px;
  margin-left: 136px;
  display: grid;
  color: black;
  border-bottom: 2px solid #10B981;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.grid-container {
  display: grid;
  grid-row-gap: 40px;
}

.grid-item1 {
  padding: 25px;
  font-size: 18px;
  text-align: left;
  
  
}
/* ส่วนค้นหา*/


/* กรอกทะเบียนและเลขที่บ้าน */

input[type=text] {
  width: 118px;
  height: 40px;
  padding-left: 10px;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
  font-size: medium;
}


/* เลือกจังหวัด*/

select {
  outline: 0;
  background: white;
  color: black;
  border: 0.5px solid gray;
  padding: 4px;
  width: 118px;
  height: 40px;
  font-family: 'Prompt', sans-serif;
  font-size: medium;
}


/* วันที่ */

input[type="date"] {
  font-style: bold;
  font-size: large;
  font-family: 'Prompt', sans-serif;
  height: 40px;
}


/* เวลา */

input[type="time"] {
  font-style: bold;
  font-size: large;
  font-family: 'Prompt', sans-serif;
  width: 118px;
  height: 40px;
}