body{

    margin: 0;

}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #10b981;
    height: 75px;
    padding: 0px 100px;
}

.navbar .left-navbar{
    display: flex;
    gap: 20px;
    align-items:center;
}

.navbar .left-navbar a{
    text-decoration: none;
    color: #fff;    
}


.navbar .right-navbar{
    display: flex;
    gap:20px;
    align-items:center;
}

.navbar .right-navbar a{
    text-decoration: none;
    
}

.navbar .right-navbar .profile-zone{
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: #70d5b3;
    width: 216px;
    height: 45px;
    padding: 20px 10px 20px 20px;
    border: none;
    border-radius: 30px;
}

.navbar .right-navbar .logout-btn{
    background-color: #fff;
    width: 120px;
    height: 45px;
    padding: 10px;
    border: none;
    border-radius: 30px;
}



