
/* แถวเอาไว้ใส่กล่องหน้าเข้าสู่ระบบ */
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .login-elements{
        width: 650px;
        height: 370px;
        margin: 12% auto;
        padding-top: 20px;

        color: white;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5); 
        border-radius: 5px;
    }
    .login-head{
        color: #000000;
        text-align: center;
    }
        /* กล่องกรอกข้อมูลอีเมล/รหัสผ่าน */
        .inputbox{
            margin: 10px auto;
            width: 80%;
            padding-bottom: 5px;
            color: black;  
        } 
        .input-space{
            display: flex;
            align-items: center;
        }
        .error-section{
            display: flex;
            padding-top: 5px;
            justify-content: start;
            align-items: center;
            color: red;
            height: 10px;
            width: 80%;
            font-size: small;
        }

        /* กล่องกรอกอีเมลล์ */
        .inputbox .input-space #login-email{
            height: 50px;
            width: 100%;
            outline: none;
            font-size: 16px;
            padding-left: 20px;
            border: 1px solid #04AA6D;
            border-radius: 0px 10px 10px 0px;
            transition: all 0.3 ease;
           
        }
        .person-icon{
            color: white;
        }
        .input-space .person-icon{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 45px;
            border-radius: 10px 0px 0px 10px;
            background-color: #04AA6D;
        }

        /* กล่องกรอกพาสเวิร์ด */
        .inputbox .input-space #login-password{
            height: 50px;
            width: 100%;
            outline: none;
            font-size: 16px;
            padding-left: 20px;
            border-left: 1px solid #04AA6D;
            border-bottom: 1px solid #04AA6D;
            border-right: 0px solid #fff;
            border-top: 1px solid #04AA6D;
        }
        .lock-icon{
            color: white;
        }
        .input-space .lock-icon{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
            border-radius: 10px 0px 0px 10px;
            background-color: #04AA6D;
        }

        /* กล่องปุ่มซ่อนรหัส */

        .inputbox .input-space #visibility{
            display: flex;
            align-items: center;
            height: 50px;
            background-color: #fff;
            padding-top: 3px;
            padding-right: 20px ;
            padding-left: 20px ;
            border-radius: 0px 10px 10px 0px;
            border-left: 0px solid #fff;
            border-bottom: 1px solid #04AA6D;
            border-right: 1px solid #04AA6D;
            border-top: 1px solid #04AA6D;
        }
        .inputbox .input-space #visibility span{
            color: rgba(97, 97, 97, 1);
        }
        .inputbox .input-space #visibility span:hover{
            color: rgb(67, 67, 67);
        }
        .inputbox .input-space #visibility-off{
            display: flex;
            align-items: center;
            height: 50px;
            background-color: #fff;
            padding-top: 3px;
            padding-right: 20px ;
            padding-left: 20px ;
            border-radius: 0px 10px 10px 0px;
            border-left: 0px solid #fff;
            border-bottom: 1px solid #04AA6D;
            border-right: 1px solid #04AA6D;
            border-top: 1px solid #04AA6D;
        }
        .inputbox .input-space #visibility-off span{
            color: rgba(97, 97, 97, 1);
        }
        .inputbox .input-space #visibility-off span:hover{
            color: rgb(67, 67, 67);
        }
        .inputbox .input-space input:focus{
            border-color: #04AA6D;
        }
        .visibility-icon{
            color: rgba(97, 97, 97, 1);
        }
        #visibility{
            border: none;
        }
        #visibility-off{
            border: none;
        }

/* กล่องรวมปุ่ม */
.buttonsection{
    display: flex;
    justify-content: center;
    align-items: center;
}
    /* รวมปุ่มอีกที */
        .buttons{
            justify-content: space-between;
            width: 80%;
            height: 50px;
            display: flex;
            align-items: center;
        }
        /* ปุ่มลืมรหัส */
            .forgotpass{
                color: #000000;
            }
            .forgot-button {
                background-color: #ffffff00;
                color: #2A4365;
                border: none;
                cursor: pointer;
                width: 20%;
                text-decoration-line: underline;
            }
        /* ปุ่ม login */
            .login-button {
                background-color: #04AA6D;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 100%;
                border-radius: 5px;

            }


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),  url(../assets/login_bg.jpg);
    height: 100vh;
    /* width: 100vw; */
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment: fixed;
}







