body{
    background-image: url(https://images.unsplash.com/photo-1503376780353-7e6692767b70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: 100%;
}

.Box{
    background-image: linear-gradient(180deg, #2A4365 5.25%, #10B981 100%);;
    width: 50%;
    margin: auto;
    transform: translate(0%, 50%);
}

.left-box {
    background-color: white;
    width: 50%;
    padding: 30px;
}

.inputnew {
  width: 100%;
  height: 40px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inputrenew {
  width: 100%;
  height: 40px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

  #submit-button {
    display: inline-block;
    width: 30%;
    background-color: #10B981;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #submit-button:hover {
    background-color: #239b73;
  }
  
  .right-box img{
    float: right;
    transform: translate(-35%, -240%);
  }


  .eye {
    position: absolute;
    left: 390px;
    padding: 1px;
    width: 20px;
    transform: translate(0px, -41px);
  }

  #hide1 {
    display: none;
  }

  #hide3 {
    display: none;
  }

  
  
  